--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
gunicorn
python-multipart
torch
torchvision
# Hapus 'ultralytics' di atas dan ganti dengan baris di bawah ini:
git+https://github.com/iMoonLab/yolov13.git
